In [87]:
import pandas as pd
import numpy as np
import regex as re
# we increase the maximum display number in order to be able to see some columns that we weren't able to see before,
# as though the two columns between 'Sex' and 'Fatal(Y/N)', which are 'Age' and 'Injury', weren't displayed at first.
pd.set_option("display.max_columns", 120)

In [88]:
!ls ../Pandas-project

Data_cleaning.ipynb                   README.md
Data_visualization+storytelling.ipynb attacks.csv

In [ ]:
file = '../Pandas-project/attacks.csv'
df = pd.read_csv(file)

In [90]:
# We had to introduce a decoder in order to visualize the dataset, as it was printing an error of 'utf-8' encoding.
# The info from were we obtained the info to solve this problem can be found in this Kaggle post:
# "https://www.kaggle.com/paultimothymooney/how-to-resolve-a-unicodedecodeerror-for-a-csv-file"

import chardet

with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [91]:
# We introduce the 'encoding' parameter and there we go, the table of this set is printed!

df = pd.read_csv(file, encoding='Windows-1252')
df.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2660,1989.10.08,08-Oct-1989,1989.0,Invalid,USA,North Carolina,"Between Wrightsville Beach & Carolina Beach, N...",Diving,Doug Nunnally,M,49,FATAL,NaN,Late afternoon,Shark involvement suspected but not confirmed,"C. Creswell, GSAF & Search & Rescue diver, New...",1989.10.08-Nunnally.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1989.10.08,1989.10.08,3643.0,NaN,NaN
930,2011.04.22,22-Apr-2011,2011.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Ronald White,M,49,Minor puncture wounds,N,15h30,1' to 2' shark,S. Petersohn,2011.04.22-RonWhite.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2011.04.22,2011.04.22,5373.0,NaN,NaN
23934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
# We clean the latest to columns because we ran several .samples() and none of them showed that they actually had
# any useful info.
to_drop = ['Unnamed: 22', 'Unnamed: 23']

df.drop(to_drop, inplace=True, axis=1)

In [101]:
# I was thinking about to delete column 'Case number.2' as I thought they were exactly the same but with different
# names. But after running several samples, they showed a difference in one of them.
df.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
16673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6122,1808.06.01.R,Reported 01-May-1808,1808.0,Sea Disaster,ANTIGUA,NaN,Falmouth Harbour,NaN,NaN,NaN,NaN,Probable drowning & scavenging,NaN,NaN,NaN,"London Observer, 5/1/1808",1808.05.01.R-Antigua.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1808.05.01.R,1808.06.01.R,181.0
21047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
# We observe now the two columns 'href formula' and 'href', as they might store the same links and information
# but twice, so that wouldn't be neccessary.
df.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
5454,1907.07.04.R,Reported 04-Jul-1907,1907.0,Invalid,AUSTRALIA,Queensland,Karra Garra,.,Dick Atkins,M,NaN,"Disappeared, but shark involvement unconfirmed",NaN,NaN,Questionable,"Queensland Figaro, 7/4/1907",1907.07.04-R-Atkins.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1907.07.04.R,1907.07.04.R,849.0
245,2016.07.16.a,16-Jul-2016,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",NaN,female,F,11,Minor injury to toes,N,11h00,NaN,"Orlando Sentinel, 7/21/2016",2016.07.16.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.16.a,2016.07.16.a,6058.0
13010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4782,1939.12.28,28-Dec-1939,1939.0,Invalid,AUSTRALIA,New South Wales,"Cabramatta Creek, George’s River",Swimming,Percy Carroll,M,40,Abrasion above knee,NaN,NaN,"Questionable incident, said to involve a 6' shark","V.M. Coppleson (1958), pp.44 & 234; SAF Case #39",1939.12.28-Carroll.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1939.12.28,1939.12.28,1521.0
13959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
df['href formula']

0        http://sharkattackfile.net/spreadsheets/pdf_di...
1        http://sharkattackfile.net/spreadsheets/pdf_di...
2        http://sharkattackfile.net/spreadsheets/pdf_di...
3        http://sharkattackfile.net/spreadsheets/pdf_di...
4        http://sharkattackfile.net/spreadsheets/pdf_di...
                               ...
25718                                                  NaN
25719                                                  NaN
25720                                                  NaN
25721                                                  NaN
25722                                                  NaN
Name: href formula, Length: 25723, dtype: object

In [107]:
df['href']

0        http://sharkattackfile.net/spreadsheets/pdf_di...
1        http://sharkattackfile.net/spreadsheets/pdf_di...
2        http://sharkattackfile.net/spreadsheets/pdf_di...
3        http://sharkattackfile.net/spreadsheets/pdf_di...
4        http://sharkattackfile.net/spreadsheets/pdf_di...
                               ...
25718                                                  NaN
25719                                                  NaN
25720                                                  NaN
25721                                                  NaN
25722                                                  NaN
Name: href, Length: 25723, dtype: object

In [109]:
# It looks as they store the same info and their lenght is exactly the same, so we've decided to delete one of them.
df.drop(['href formula'], inplace=True, axis=1)

In [111]:
df.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,Case Number.1,Case Number.2,original order
5060,1929.12.09.R,Reported 09-Dec-1929,1929.0,Unprovoked,NaN,NaN,NaN,NaN,Thomas Duggan,M,20,FATAL,Y,NaN,NaN,"The Age, 12/9/1929",1929.12.09.R-Duggan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1929.12.09.R,1929.12.09.R,1243.0
6223,ND.0090,"No date, Before Aug-1989",0.0,Unprovoked,VANUATU,Malampa Province,Malakula,NaN,female,F,NaN,FATAL,Y,NaN,NaN,S. Combs,ND-0090-Vanuatu-female.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0090,ND.0090,80.0
3242,1975.02.07,07-Feb-1975,1975.0,Unprovoked,AUSTRALIA,Queensland,Currumbin Rock,NaN,M. Worman,M,NaN,Survived,N,NaN,NaN,"J. Green, p. 36",1975.02.07-Worman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.02.07,1975.02.07,3061.0
18751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7154,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Another thing we've noticed is that the links are completely broken, none of them work and all of them display
# the message: '404 Not Found, The requested URL was not found on this server.'

In [112]:
df.drop(['href'], inplace=True, axis=1)

In [122]:
# There are a lot of "NaN's" values in this dataset, so we will have to deal with them soon.
df.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,Case Number.1,Case Number.2,original order
20999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
df['Name']

0            Julie Wolfe
1        Adyson McNeely
2            John Denges
3                   male
4         Gustavo Ramos
              ...
25718                NaN
25719                NaN
25720                NaN
25721                NaN
25722                NaN
Name: Name, Length: 25723, dtype: object

In [131]:
df.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,Case Number.1,Case Number.2,original order
1373,2007.06.05,05-Jun-2007,2007.0,Unprovoked,AUSTRALIA,New South Wales,"Shelly Beach, Crescent Head",Surfing,Jack Moir,M,NaN,Lacerations to leg & ankle,N,Sunset,NaN,"S. Williams, Daily Telegraph, 6/7/2007",2007.06.05-JackMoir.pdf,2007.06.05,2007.06.05,4930.0
1014,2010.07.04,04-Jul-2010,2010.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"Two Mile Reef, Sodwana Bay",Snorkeling,Sarah Haiden,F,21,Left leg bitten,N,NaN,NaN,The Sowetan. 7/9/2010,2010.07.04-Haiden.pdf,2010.07.04,2010.07.04,5289.0
20940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN